

.outerImgDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.innerImgDiv{
    width: 30%;
    background: #0F0F0F;
    color: white;
}

.imgDiv{
    width: 100%;
    height: 80%;

}
.imgDiv img{
    width: 100%;
    height: 100%;
}


.url{
    width: 100%;
    height: 20%;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.url a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 17px;
    width: 75%;
    
}