

.outerImgDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.innerImgDiv{
    width: 30%;
    background: #0F0F0F;
    color: white;
    border-radius: 10px;
}

.imgDiv{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgDiv img{
    width: 90%;
    height: 90%;
}


.url{
    width: 100%;
    height: 20%;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.url a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    width: 75%;
    background-color: #e59400;
    border-radius: 9px;
    padding: 6px;
    height: 39%;
    text-align: center;
    
}